* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    border: 2px solid red;
    text-align: center;
}

div {
    border: 2px solid blue;
    display: inline;
    width: 400px;
}